* { margin: 0; padding: 0; outline: none; }

a {text-decoration: none; }

.wrapper { max-width: 1260px; display: block; margin: 0 auto; }

.container { /*width: 940px; */padding: 0 160px; }

.button { font-size: 15px; line-height: 19px; font-family: 'Proxima Nova Rg'; font-weight: normal; font-style: normal; text-transform: uppercase; border-radius: 2px; box-sizing: border-box; position: relative; cursor: pointer; display: inline-block; }

/*HEADER*/

.header { background: url(images/pattern.png); background-repeat: repeat; padding: 0 0 230px 0; position: relative; }
.header:after { content: ''; position: absolute; background: url(images/telephone.png) no-repeat; width: 229px; height: 268px; bottom: 0; left: 230px;  }

/*header-first*/
.header .header-first { display: flex; justify-content: space-between; padding: 0 0 60px 0; position: relative; }
.header .header-first .logo { position: relative; font-family: 'Kaushan Script', cursive; font-size: 50px; color: #0da9e5; background-color: rgb(255, 255, 255); width: 100px; height: 100px; text-align: center; box-shadow: 14px 11px 0 0 #27b1e6; border-bottom: solid 4px #0da9e5; }

.header .header-first .menu-press { border: 0; background: transparent; width: 30px; height: 22px; margin-top: 40px; position: relative; cursor: pointer; }
.header .header-first .menu-press:before {  content: ''; position: absolute; height: 4px; width: 30px; background-color: #fff; border-radius: 2px; left: 0; top: 0; }
.header .header-first .menu-press:after { content: ''; position: absolute; width: 30px; height: 4px; background-color: #fff; top: 6px; left: 0; border-radius: 2px; }
.header .header-first .menu-press .menu-line { position: absolute; width: 30px; height: 4px; background-color: #fff; top: 12px; left: 0; border-radius: 2px;  }
.header .header-first .menu-press .menu-last { position: absolute; width: 30px; height: 4px; background-color: #fff; bottom: 0; left: 0; border-radius: 2px; }

/*header-second*/
.header .header-second { color: #fff; font-size: 35px; line-height: 40px; display: flex; flex-direction: column; align-items: flex-end; position: relative; font-family: 'ProximaNova'; font-weight: 300; font-style: normal; }
.header .header-second .text-1 { display: block; font-size: 70px; line-height: 74px; padding-bottom: 50px; font-family: 'BlackJack'; font-weight: normal; font-style: normal; }


.header .header-second .button { color: #fff; border: 2px solid #fff; margin-top: 56px; padding: 20px 60px 20px 28px; }
.header .header-second .button:after { content: ''; position: absolute; background: url(images/icon.png) no-repeat 0 0; width: 16px; height: 12px; top: 22px; right: 30px; }

/*first box*/
.main .first-box { padding: 140px 0; background-color: #f4f4f4; position: relative; }
.main .first-box:after { content: ''; position: absolute; background: url(images/telephone-yellow.png) no-repeat; width: 338px; height: 499px; bottom: 0; right: 0; } 

.main .first-box h2 { font-size: 40px; line-height: 44px; color: #545454; font-family: 'ProximaNova'; font-weight: 300; font-style: normal; }
.main .first-box p { padding-top: 30px; width: 553px; font-size: 16px; line-height: 25px; color: #7e7e7e; font-family: 'Proxima Nova Rg'; font-weight: normal; font-style: normal; }

.main .first-box .container .line { position: relative; padding-left: 24px; font-family: 'Proxima Nova Rg'; font-weight: normal; font-style: italic; }
.main .first-box .container .line:before { content: ''; position: absolute; background: url(images/line-blue.png) no-repeat 0 0; width: 6px; height: 68px; top: 34px; left: 0px; }

.main .first-box .container .button { color: #14af8f; border: 2px solid #14af8f; margin-top: 70px; padding: 20px 65px 20px 25px; }
.main .first-box .container .button:after { content: ''; position: absolute; background: url(images/icon-mail.png) no-repeat 0 0; width: 16px; height: 13px; top: 22px; right: 30px; }

/*second box*/
.main .second-box { padding: 105px 0 237px 0; background-color: #ffffff; position: relative; display: flex; flex-direction: row-reverse; }
.main .second-box:after { content: ''; position: absolute; background: url(images/devices.png) no-repeat; width: 758px; height: 367px; bottom: 0; left: 0; }
.main .second-box .container { width: 385px; }

.main .second-box h2 { font-size: 40px; color: #545454; padding-bottom: 38px; font-family: 'ProximaNova'; font-weight: 300; font-style: normal;  }
.main .second-box p { font-size: 16px; line-height: 25px;  font-family: 'Proxima Nova Lt'; font-weight: 600; font-style: italic; color: #474e5d; }
.main .second-box span { margin-top: 35px; font-family: 'Proxima Nova Rg'; font-weight: normal; font-style: normal; display: block; color: #7e7e7e; }


.main .second-box .container .button { color: #ea4c89; border: 2px solid #ea4c89; margin-top: 60px; padding: 20px 60px 20px 27px; }
.main .second-box .container .button:after { content: ''; position: absolute; background: url(images/icon-ball.png) no-repeat 0 0; width: 13px; height: 14px; bottom: 23px; right: 32px; }

/*third-box*/
.main .third-box { padding: 100px 0; background: url(images/green-pattern.jpg); background-repeat: repeat;  }

.main .third-box .container { display: flex; flex-direction: column; align-items: center; }

.main .third-box h2 { color: #fff; font-size: 40px; font-family: 'Proxima Nova Rg'; font-weight: normal; font-style: normal; }

.main .third-box .container .button { color: #fff; border: 2px solid #fff; margin-top: 40px; padding: 20px 67px 20px 34px; }
.main .third-box .container .button:after { content: ''; position: absolute; background: url(images/icon-beer.png) no-repeat 0 0; width: 14px; height: 13px; bottom: 23px; right: 36px; }


.social-box { background-color: #f4f4f4; padding: 240px 0; text-align: center; }
.social-box .icons { display: flex; justify-content: center; height: 125px; }

.social-box .social-icon { width: 50px; height: 50px; display: block; font-size: 0; line-height: 0; text-indent: -100%; background-repeat: no-repeat; background-position: center; border: 2px solid #545454; border-radius: 50%; }
.social-box .social-icon + .social-icon { margin-left: 34px; }

.social-box .social-icon.dribble { background-image: url(images/dribble-icon.png); }
.social-box .social-icon.fb { background-image: url(images/fb-icon.png); }
.social-box .social-icon.twitter { background-image: url(images/twitter-icon.png); }
.social-box .social-icon.mail { background-image: url(images/mail-icon.png); }


.social-box .subscription { display: flex; flex-direction: row; align-content: center; align-items: center; justify-content: center; font-family: 'Proxima Nova Rg'; font-weight: bold; font-style: italic; }
.social-box .subscription .ic-email { padding: 10px 30px 10px 20px; background-color: #fff; color: #d3d3d3; font-size: 14px; line-height: 18px; border-radius: 10px; margin-left: 25px; border: none; background-image: url(images/icon-email.png); background-repeat: no-repeat; background-position: 183px center; }
.social-box .subscription .ic-email::placeholder { font-size: 14px; line-height: 25px; color: #d3d3d3; font-family: 'Proxima Nova Rg'; font-weight: normal; font-style: italic; }
 
/*Footer*/

.footer { background-color: #fff; padding: 50px 0 40px 0; text-align: center; position: relative; }

.footer p { font-size: 12px; line-height: 25px; color: #545454; font-family: 'Proxima Nova Rg'; font-weight: normal; font-style: italic; }
.footer p a { color: #6dc5ea; font-style: normal; }

.footer .up { padding: 15px; background-color: #f4f4f4; color: #000; font-size: 0; line-height: 0; text-indent: -100%; border-radius: 5px; position: absolute; top: 33px; right: 60px; }

.footer .up span{ padding: 3px; border: solid 1px #000; border-left-color: transparent; border-bottom-color: transparent; transform: rotate(-45deg); position: absolute; top: 13px; right: 10px; }










@media only screen and (max-width: 1130px) {
.header:after { content: ''; position: absolute; background: url(images/telephone.png) no-repeat; width: 229px; height: 268px; bottom: 0; left: 160px; }
.main .second-box:after { content: ''; position: absolute; background: url(images/devices.png) no-repeat; width: 758px; height: 367px; bottom: 0; left: -90px; }
}


@media only screen and (max-width: 1080px) {
.main .first-box p { width: 400px; }
.main .second-box .container {width: 300px; }
   
}

@media only screen and (max-width: 960px) {
    .container { padding: 0px 80px; }
}

@media only screen and (max-width: 870px) {
.main .second-box { flex-direction: column; }
.main .second-box .container { margin-bottom: 160px; }
.main .first-box:after { bottom: -225px; }
}